DB_HOST="fiap-soat-dev-db.c6qwwnrtxhx9.us-east-1.rds.amazonaws.com"
DB_PORT=5432
DB_NAME=fiap_soat_db
DB_USER=postgres
DB_PASSWORD=postgres

APP_PORT=3000

JWT_SECRET=my-jwt-secret-key
JWT_EXPIRES_IN=24h

# AWS and Kubernetes configuration to manually deploy the app
AWS_REGION=<your-aws-region>
ECR_REPOSITORY=<your-ecr-repo-name>
EKS_CLUSTER_NAME=<your-cluster-name>
K8S_NAMESPACE=fiap-tech-challenge
APP_NAME=fiap-soat-tech-challenge-app